openapi: "3.0.2"
info:
  title: Simply Plural API
  description: This API reference documents the public api endpoints. You can see a list of all public endpoints here https://github.com/ApparyllisOrg/SimplyPluralApi/blob/release/src/api/v1/routes.ts
  version: "1.0"
servers:
  - url: https://api.apparyllis.com
  - url: https://devapi.apparyllis.com

tags:
  - name: Analytics
    description: Everything related to analytics
    x-displayName: Analytics

  - name: Automated Timers
    description: Everything related to Automated Timers
    x-displayName: Automated Timers

  - name: Board Messages
    description: Everything related to board messages
    x-displayName: Board Messages

  - name: Chat
    description: Everything related to chat messages
    x-displayName: Chat Messages

  - name: Chat Categories
    description: Everything related to chat categories
    x-displayName: Chat Categories

  - name: Chat Channels
    description: Everything related to chat channels
    x-displayName: Chat Channels

  - name: Comments
    description: Everything related to Comments
    x-displayName: Comments

  - name: Custom Fronts
    description: Everything related to Custom Fronts
    x-displayName: Custom Fronts

  - name: Friends
    description: Everything related to friends
    x-displayName: Friends

  - name: Front History
    description: Everything front history and fronters
    x-displayName: Front History

  - name: Groups
    description: Everything related toGroups
    x-displayName: Groups

  - name: Members
    description: Everything related to Members
    x-displayName: Members

  - name: Notes
    description: Everything related to Notes
    x-displayName: Notes

  - name: Polls
    description: Everything related to Polls
    x-displayName: Polls

  - name: PluralKit
    description: Evertying related to PluralKit
    x-displayName: PluralKit

  - name: Repeated Timers
    description: Everything related to Repeated Timers
    x-displayName: Repeated Timers

  - name: User
    description: Getting and updating the user
    x-displayName: User

x-tagGroups:
  - name: Common
    tags:
      - Members
      - Groups
      - Custom Fronts
      - Front History
  - name: Everything else
    tags:
      - User
      - Automated Timers
      - Board Messages
      - Repeated Timers
      - Friends
      - Polls
      - Comments
      - Notes
  - name: Integrations
    tags:
      - PluralKit

components:
  securitySchemes:
    APITokenAuth:
      type: apiKey
      in: header
      name: Authorization

paths:
  /v1/member/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get Member"
      description: "Get a member by Id"
      tags:
        - Members
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the member
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/member/{docId}:
    parameters:
      - in: path
        name: docId
        schema:
          type: string
        required: true
        description: String Id of the member
    post:
      security:
        - APITokenAuth: []
      summary: "Add member"
      description: "Add a member by (optionally) an Id"
      tags:
        - Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/member"

      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update member"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/member"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Members
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete member"
      description: "Delete a member by Id"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Members
  /v1/members/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all members"
      description: "Get members from a system by Id"
      tags:
        - Members
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/group/{systemId}/{docId}:
    parameters:
      - in: path
        name: groupId
        schema:
          type: string
        required: true
        description: String Id of the group
      - in: path
        name: systemId
        schema:
          type: string
        required: true
        description: String Id of the system
    get:
      security:
        - APITokenAuth: []
      summary: "Get group"
      description: "Get a group by Id"
      tags:
        - Groups
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/group/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add group"
      description: "Add a group by (optionally) an Id"
      tags:
        - Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/groups"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update group"
      description: "Update a group by Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/groups"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Groups
    delete:
      summary: "Delete group"
      description: "Delete a group by Id"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Groups
  /v1/groups/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all groups"
      description: "Get groups of a system by Id"
      tags:
        - Groups
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/note/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get note"
      description: "Get a note by Id"
      tags:
        - Notes
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the note
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/note/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add note"
      description: "Add a note by (optionally) an Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/notesPost"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the note
      tags:
        - Notes
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update note"
      description: "Update a note by Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/notesPatch"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the note
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Notes
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete note"
      description: "Delete a note by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the note
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Notes
  /v1/notes/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all notes"
      description: "Get notes of a system by Id"
      tags:
        - Notes
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/customFront/{systemId}/{docId}:
    parameters:
      - in: path
        name: docId
        schema:
          type: string
        required: true
        description: String Id of the Custom Front
      - in: path
        name: systemId
        schema:
          type: string
        required: true
        description: String Id of the system
    get:
      security:
        - APITokenAuth: []
      summary: "Get custom front"
      description: "Get a Custom Front by Id"
      tags:
        - Custom Fronts
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Custom Front
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/customFront/{docId}:
    parameters:
      - in: path
        name: docId
        schema:
          type: string
        required: true
        description: String Id of the Custom Front
    post:
      security:
        - APITokenAuth: []
      summary: "Add custom front"
      description: "Add a Custom Front by (optionally) an Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/customFront"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Custom Front
      tags:
        - Custom Fronts
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update custom front"
      description: "Update a Custom Front by Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/customFront"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Custom Front
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Custom Fronts
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete custom front"
      description: "Delete a Custom Front by Id"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Custom Fronts
  /v1/customFronts/{systemId}:
    get:
      summary: "Get all custom fronts"
      description: "Get custom fronts of a system by Id"
      tags:
        - Custom Fronts
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/comment/{type}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get comments"
      description: "Get comments from a document of type (groups, members, customFronts, etc.)"
      tags:
        - Comments
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the document you wish to get comments from
        - in: path
          name: type
          schema:
            type: string
          required: true
          description: Type of the comment (groups, members, customFronts, etc.)
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/comment/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add comment"
      description: "Add a Comment by (optionally) an Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/commentsPost"
      tags:
        - Comments
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update comment"
      description: "Update a Comment by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/commentsPatch"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Comments
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete comment"
      description: "Delete a Comment by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Comment
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Comments
  /v1/comments/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get specific comment"
      description: "Get a specific comment from a system"
      tags:
        - Comments
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String id of the Comment document
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/poll/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get poll"
      description: "Get a Poll by id"
      tags:
        - Polls
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Poll
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/poll/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add poll"
      description: "Add a Poll by (optionally) an Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Poll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/polls"
      tags:
        - Polls
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update poll"
      description: "Update a Poll by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Poll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/polls"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Polls
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete poll"
      description: "Delete a Poll by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Comment
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Polls
  /v1/polls/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all polls"
      description: "Get polls from a system"
      tags:
        - Polls
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String id of the Comment document
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/timer/automated/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get automated timer"
      description: "Get an Automated Timer by id"
      tags:
        - Automated Timers
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Automated Timer
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/timer/automated/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add automated timer"
      description: "Add an Automated Timer by (optionally) an Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Automated Timer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/automatedReminder"
      tags:
        - Automated Timers
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update automated timer"
      description: "Update an Automated Timer by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Automated Timer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/automatedReminder"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Automated Timers
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete automated timer"
      description: "Delete an Automated Timer by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the timer
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Automated Timers

  /v1/timers/automated/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all automated timers"
      description: "Get Automated Timers from a system"
      tags:
        - Automated Timers
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/timer/repeated/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get repeated timer"
      description: "Get an Repeated Timer by id"
      tags:
        - Repeated Timers
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Repeated Timer
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/timer/repeated/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add repeated timer"
      description: "Add an Repeated Timer by (optionally) an Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Repeated Timer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/repeatedReminder"
      tags:
        - Repeated Timers
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update repeated timer"
      description: "Update an Repeated Timer by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the Repeated Timer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/repeatedReminder"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Repeated Timers
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete repeated timer"
      description: "Delete an Repeated Timer by Id"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the timer
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
      tags:
        - Repeated Timers

  /v1/timers/repeated/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all repeated timers"
      description: "Get Repeated Timers from a system"
      tags:
        - Repeated Timers
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/fronters/:
    get:
      security:
        - APITokenAuth: []
      summary: "Get current fronters (self)"
      description: "Get fronters from the currently authenticated system"
      tags:
        - Front History
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/frontHistory/{systemId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get front history"
      description: "Get Front History from a system between 2 timestamps"
      tags:
        - Front History
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/frontHistory/member/{memberId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get front history from member"
      description: "Get Front History from a member, optionally beteen two timestamps"
      tags:
        - Front History
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
        - in: path
          name: memberId
          schema:
            type: string
          required: true
          description: Member you wish to get the history from
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/frontHistory/{systemId}/{docId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get specific front history entry"
      description: "Get a single Front History document by Id"
      tags:
        - Front History
      parameters:
        - in: path
          name: systemId
          schema:
            type: string
          required: true
          description: String Id of the system
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/frontHistory/{docId}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add front history entry"
      description: "Add a Front history entry by (optionally) an Id"
      tags:
        - Front History
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/frontHistory"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the document
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update front history entry"
      description: "Update a Front History entry by an Id"
      tags:
        - Front History
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/frontHistory"
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the document
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete front history entry"
      description: "Delete a Front History Entry by an Id"
      tags:
        - Front History
      parameters:
        - in: path
          name: docId
          schema:
            type: string
          required: true
          description: String Id of the document
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/me:
    get:
      security:
        - APITokenAuth: []
      summary: "Get your authed user Id"
      description: "Get the user Id associated with your currently authed token"
      tags:
        - Users
      responses:
        "200":
          description: "{Your user id}"
        "404":
          description: NOT FOUND

  /v1/user/{userId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get user"
      description: "Get a user"
      tags:
        - Users
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the user
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update user"
      description: "Update a user (your own)"
      tags:
        - Users
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the user
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/user/username/{userId}:
    patch:
      security:
        - APITokenAuth: []
      summary: "Set username"
      description: "Set username for user"
      tags:
        - Users
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the user
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/user/generateReport:
    post:
      security:
        - APITokenAuth: []
      summary: "Generate report"
      description: "Generate a user report for the authenticated user"
      tags:
        - Users
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/user/id:/reports:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all reports"
      description: "Get all reports of the authenticated user"
      tags:
        - Users
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/user/:id/report/:reportid:
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete report"
      description: "Delete a specific report"
      tags:
        - Users
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/friends:
    get:
      security:
        - APITokenAuth: []
      summary: "Get friends"
      description: "Get friends of the authenticated user"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/requests/incoming:
    get:
      security:
        - APITokenAuth: []
      summary: "Get received friend requests"
      description: "Get incoming friend requests of the authenticated user"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/requests/outgoing:
    get:
      security:
        - APITokenAuth: []
      summary: "Get sent friend requests"
      description: "Get outgoing friend requests of the autheticated user"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/getFrontValues:
    get:
      security:
        - APITokenAuth: []
      summary: "Get current fronters of system (text-format)"
      description: "Get front values (text-format) of all the authenticated user's friends"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/request/add/{username}:
    post:
      security:
        - APITokenAuth: []
      summary: "Add friend"
      description: "Add a friend by username (or userId)"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/request/respond/{username}:
    post:
      security:
        - APITokenAuth: []
      summary: "Respond to friend request"
      description: "Respond to a friend request by username (or userId)"
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/request/{username}:
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete friend request"
      description: "Remove a friend request"
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
          description: Username (or userId) of the friend request you want to delete
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friends/remove/{username}:
    delete:
      security:
        - APITokenAuth: []
      summary: "Remove friend"
      description: "Remove a friend by username (or userId)"
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
          description: Username (or userId) of the friend you want to delete
      tags:
        - Friends
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/friend/{userId}:
    patch:
      security:
        - APITokenAuth: []
      summary: "Update friend settings"
      description: "Update your settings for a friend by Id"
      tags:
        - Friends
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the friend user account
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friend/{userId}/{friendId}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get friend settings"
      description: "Get a friend from a user (Typically your user)"
      tags:
        - Friends
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the origin friend (Typically you)
        - in: path
          name: friendId
          schema:
            type: string
          required: true
          description: String Id of the destination friend (Typically your friend)
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friend/{userId}/getFront:
    get:
      security:
        - APITokenAuth: []
      summary: "Update friend settings"
      description: "Get the current fronters of a friend"
      tags:
        - Friends
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the friend user account
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/friend/{userId}/getFrontValue:
    get:
      security:
        - APITokenAuth: []
      summary: "Get current fronters of system"
      description: "Get the current fronters (in text form) of a friend"
      tags:
        - Friends
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: String Id of the friend user account
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/integrations/pluralkit/sync/member/{memberId}:
    parameters:
      - in: path
        name: memberId
        schema:
          type: string
        required: true
        description: The member id to sync
    patch:
      security:
        - APITokenAuth: []
      summary: "Sync member to or from pluralkit"
      description: "Sync a specific member to or from PluralKit"
      tags:
        - PluralKit
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /v1/integrations/pluralkit/sync/members:
    get:
      security:
        - APITokenAuth: []
      summary: "Sync members to or from pluralkit"
      description: "Sync all system members to or from PluralKit"
      tags:
        - PluralKit
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/chat/message/:id:
    get:
      security:
        - APITokenAuth: []
      summary: "Get message"
      description: "Get a specific message"
      tags:
        - Chat
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    post:
      security:
        - APITokenAuth: []
      summary: "Add message"
      description: "Add a new message"
      tags:
        - Chat
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatMessagePost"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update message"
      description: "Update a message"
      tags:
        - Chat
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatMessagePatch"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete message"
      description: "Delete a message"
      tags:
        - Chat
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/chat/messages/{id}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get messages"
      description: "Get messages of a specific channel"
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: String id of the channel to get messages from
      tags:
        - Chat
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/chat/category:
    post:
      security:
        - APITokenAuth: []
      summary: "Add category"
      description: "Add a new category"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatCategory"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
          content:
            text/csv:
              schema:
                type: string
              example: "\"67d63acba3e170d9b68cb7f9\""
        "400":
          description: BAD REQUEST
        "404":
          description: NOT FOUND

  /v1/chat/category/{id}:
    get:
      security:
        - APITokenAuth: []
      summary: "Get category"
      description: "Get a specific category"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatContainer"
        "404":
          description: NOT FOUND
    post:
      security:
        - APITokenAuth: []
      summary: "Add category by Id"
      description: "Add a new category by Id"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatCategory"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
          content:
            text/csv:
              schema:
                type: string
              example: "\"67d63acba3e170d9b68cb7f9\""
        "400":
          description: BAD REQUEST
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update category"
      description: "Update a category"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatCategory"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete category"
      description: "Delete a category"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/chat/categories:
    get:
      security:
        - APITokenAuth: []
      summary: "Get chat categories"
      description: "Get all chat categories"
      tags:
        - Chat Categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatContainer"
        "404":
          description: NOT FOUND

  /v1/chat/channel/:id:
    get:
      security:
        - APITokenAuth: []
      summary: "Get channel"
      description: "Get a specific channel"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      tags:
        - Chat Channels
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    post:
      security:
        - APITokenAuth: []
      summary: "Add channel"
      description: "Add a new channel"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatChannel"
      tags:
        - Chat Channels
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update channel"
      description: "Update a channel"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/chatChannel"
      tags:
        - Chat Channels
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete channel"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      description: "Delete a channel"
      tags:
        - Chat Channels
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/chat/channels:
    get:
      security:
        - APITokenAuth: []
      summary: "Get chat channels"
      description: "Get all chat channels"
      tags:
        - Chat Channels
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/board/:id:
    get:
      security:
        - APITokenAuth: []
      summary: "Get specific board message"
      description: "Get specific board message by id"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    post:
      security:
        - APITokenAuth: []
      summary: "Write board message"
      description: "Write a new board message for a member"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/boardMessagePost"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    patch:
      security:
        - APITokenAuth: []
      summary: "Update board message"
      description: "Update a board message for a member"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./SimplyPluralApiBodies.yml#/components/schemas/boardMessagePatch"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
    delete:
      security:
        - APITokenAuth: []
      summary: "Delete board message"
      parameters:
        $ref: "./SimplyPluralApiCommons.yml#/components/parameters/objectId"
      description: "Delete a channel"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/board/member/id:
    get:
      security:
        - APITokenAuth: []
      summary: "Get all board messages for member"
      description: "Get all board messages for member"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/board/unread:
    get:
      security:
        - APITokenAuth: []
      summary: "Get unread board messages"
      description: "Get all unread board messages for this system"
      tags:
        - Board Messages
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND

  /v1/user/analytics:
    get:
      security:
        - APITokenAuth: []
      summary: "Get analytics"
      description: "Get analytics of authenticated user"
      tags:
        - Analytics
      parameters:
        - name: startTime
          in: query
          description: 'Start time in Unix timestamp format (millisecond accuracy)'
          required: true
          schema:
            type: object
            properties:
              startTime:
                type: integer
        - name: endTime
          in: query
          description: 'End time in Unix timestamp format (millisecond accuracy)'
          required: true
          schema:
            type: object
            properties:
              endTime:
                type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "./SimplyPluralApiBodies.yml#/components/schemas/analytics"
        "404":
          description: NOT FOUND
